<!DOCTYPE html>
<html>
<head>
    <% include(../partials/header') %>
    <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" >
</head>

<body> 
        <div class ="container"> 
            <div class =˜row˜>
                <div class =" col-sm-6 col-sm-offset-3">
                    <h2> Recuperar Senha </h2>
                        <hr /> <br/>

                    <% if (sucess) {%> 
                    
                        <div class = "Alert alert-success">
                            <%= sucess %>
                        </div>
                    <%} %>


                    <% if (error) {%> 
                    
                        <div class = "Alert alert-danger">
                            <%= sucess %>
                        </div>
                    <%} %>

                    <p>
                            Digite seu email para receber as instruçÕes de como reiniciar a sua senha
                    </p>

                    <form action ="v1/api/usuarios/recuperar-senha" method = "POST">
                        <div class = "form-group">
                            <input
                                type ="email"
                                name = "email"
                                class="form-control"
                                placeholder="Digite seu e-mail"
                            />

                        </div>
                            <button class = "btn btn-primary">
                                recuperar senha
                            </button>
                    </form>

                </div>

            </div>
        </div>
</body>
</html>